<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="clsDataLayer.Properties.Settings.AddressBookConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;E:\Dropbox\Devry\Projects\WEB 460\AddressBook.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="clsDataLayer.Properties.Settings.ConnectionString"
            connectionString="Driver={Microsoft Access Driver (*.mdb, *.accdb)};dbq=E:\Dropbox\Devry\Projects\WEB 460\AddressBook.accdb;defaultdir=E:\Dropbox\Devry\Projects\WEB 460;driverid=25;fil=MS Access;filedsn=C:\Users\Matthew\Documents\address.dsn;maxbuffersize=2048;maxscanrows=8;pagetimeout=5;safetransactions=0;threads=3;uid=admin;usercommitsync=Yes"
            providerName="System.Data.Odbc" />
        <add name="clsDataLayer.Properties.Settings.AddressBookConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;E:\Dropbox\Devry\Projects\WEB 460\AddressBook.mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="clsDataLayer.Properties.Settings.ConnectionString1"
            connectionString="Driver={Microsoft Access Driver (*.mdb)};dbq=E:\Dropbox\Devry\Projects\WEB 460\AddressBook.mdb;defaultdir=E:\Dropbox\Devry\Projects\WEB 460;driverid=25;fil=MS Access;filedsn=C:\Users\Matthew\Documents\Address.dsn;maxbuffersize=2048;maxscanrows=8;pagetimeout=5;safetransactions=0;threads=3;uid=admin;usercommitsync=Yes"
            providerName="System.Data.Odbc" />
        <add name="clsDataLayer.Properties.Settings.AddressBookConnectionString2"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;E:\Dropbox\Devry\Projects\WEB 460\WEB 460\App_Data\AddressBook.mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="clsDataLayer.Properties.Settings.AddressBookConnectionString3"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\AddressBook.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>